.Landing{
    height: 100%;
    font-family: 'Press Start 2P', cursive;
    text-align:center;
    overflow: auto;
}
.Landing p{
    position: absolute;
    top:0;
    z-index: -1;
    text-align: center;
    animation: fl2 .3s infinite;
}
.Landing h1{
    padding: 4vw;
    background: #1e212d5b;
    font-size: 75px;
    color: #433520;
    animation: fl2 .3s infinite;
}

.Landing h2{
    margin-top: 15vh;
    padding: 6vw;
    cursor: pointer;
    background: #e6d5b8;
    border-top: 2px solid transparent;
    animation: flow .3s infinite;
}

.Landing h2:hover{
    animation-play-state: paused;
}


@keyframes flow{
    25% {color:red;
        background: blue;}
    65% {color:blue;
        background: yellow;}
    100% {color:yellow;
        background: red;}
}

@keyframes fl2{
    25% {color:red;}
    65% {color:blue;}
    100% {color:yellow;}
}

