.Mole{
    position: absolute;
    background: #85603f;
    height: 10vw;
    width: 10vw;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border: .5vw solid black;
    z-index: 1;
}
.e1,.e2{
    position: absolute;
    height: 1vw;
    width: 1vw;
    background: black;
    border-radius: 80%;
    top:40px;
    border:.5vw solid white;    
}
.e1{
    left:40px;
}
.e2{
    right: 40px;
}
.nose{
    background: black;
    height: 20px;
    width: 45px;
    border-radius: 100%;
    position: absolute;
    bottom:45px;
    left:55px;
}
.n1,.n2,.n3,.n4,.n5,.n6{
    position: absolute;
    background: black;
    border: 2px solid white;
    width: 80px;
    height: 4px;
}
.n1{
    bottom: 90px;
    left: -40px;
    transform: rotateZ(30deg);
}
.n2{
    bottom:50px;
    left:-40px;
}
.n3{
    bottom: 10px;
    left: -40px;
    transform: rotateZ(-30deg);
}
.n4{
    bottom: 90px;
    right:-40px;
    transform: rotateZ(-30deg);
}
.n5{
    bottom:50px;
    right:-40px;
}
.n6{
    bottom:10px;
    right:-40px;
    transform: rotateZ(30deg);
}

.mouth{    
    position: absolute;
    background: black;
    width: 50px;
    height: 4px;
    left:55px;
    bottom:20px;
    border-radius: 100%;
}

@keyframes ud{
    0%   {top:70vh}
    50%  {top:55vh}
    100%  {top:75vh}
}

@keyframes fastud{
    0%   {top:70vh}
    25%  {top:55vh}
    100%  {top:75vh}
}