.Mole{
    position: absolute;
    background: #85603f;
    height: 10vw;
    width: 10vw;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border: .5vw solid black;
    z-index: 1;
    cursor: pointer;
}
.e1,.e2{
    position: absolute;
    height: 1vw;
    width: 1vw;
    background: black;
    border-radius: 80%;
    top:5.47vh;
    border:.5vw solid white;    
}
.e1{
    left:2.6vw;
}
.e2{
    right: 2.6vw;
}
.nose{
    background: black;
    height: 2.7vh;
    width: 2.92vw;
    border-radius: 100%;
    position: absolute;
    bottom:6.15vh;
    left:3.5vw;
}
.n1,.n2,.n3,.n4,.n5,.n6{
    position: absolute;
    background: black;
    border: 0.13vw solid white;
    width: 5.2vw;
    height: 0.5vh;
}
.n1{
    bottom: 12.3vh;
    left: -2.6vw;
    transform: rotateZ(30deg);
}
.n2{
    bottom:6.93vh;
    left:-2.6vw;
}
.n3{
    bottom: 1.3vh;
    left: -2.6vw;
    transform: rotateZ(-30deg);
}
.n4{
    bottom: 12.3vh;
    right:-2.6vw;
    transform: rotateZ(-30deg);
}
.n5{
    bottom:6.83vh;
    right:-2.6vw;
}
.n6{
    bottom:1.3vh;
    right:-2.6vw;
    transform: rotateZ(30deg);
}

.mouth{    
    position: absolute;
    background: black;
    width: 3.25vw;
    height: 0.5vw;
    left:3.5vw;
    bottom:2.7vh;
    border-radius: 100%;
}

@keyframes ud{
    0%   {top:70vh}
    50%  {top:55vh}
    100%  {top:75vh}
}

@keyframes fastud{
    0%   {top:70vh}
    25%  {top:55vh}
    100%  {top:75vh}
}